@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body{
	font-size: 16px;
	font-family: Roboto, verdana, sans-serif;
	background: url('../img/background.jpg') no-repeat fixed;
	background-size: cover;
	color: white;
}

.wrap{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*============================== Header =======================================*/

header h1{text-align: center; font-size: 5em; margin: 50px 0; font-family: 'Luckiest Guy'; color: red;}

nav ul{
	display: flex;
	justify-content: center;
	margin-bottom: 100px;}

nav ul li{ margin: 0 1%; }

nav ul li a{
	color: red;
	text-decoration: none;
	font-size: 1.5em;
	padding: 10px;
	text-transform: uppercase;}

nav ul li span{ color: yellow; }
nav ul li p{ color: red; font-size: 1.5em; text-transform: uppercase;}

nav ul li a:hover{ text-decoration: underline; }

/*============================== Movies Section =======================================*/

.toggle{ text-align: center; margin: 0 auto 30px; cursor: pointer; width: 10%; font-size: 1.2em; }
.toggle:hover{ text-decoration: underline; }

#search_form p{
	margin-bottom: 5px; 
	text-align: center;
	background-color: rgba(255,255,255,.2);
	color: white; height: 25px;
	line-height: 25px;}

.checkboxes{ display: flex; justify-content: space-around; margin-bottom: 10px;}
.selects{ display: flex; justify-content:space-around; }
.select{ margin: 5px 0; }
#movies .movies{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;}

#movies .movie{
	flex-basis: 20%;
	text-align: center;
	margin-bottom: 100px;
}

.img_container{ width: 100%; height: 350px;}
.img_container img { width: 80%; margin: 0 auto; display: block; }
.movie h2{ font-size: 1.5em; margin-bottom: 15px; padding: 0 5px;}
.movie p:first-of-type{ margin-bottom: 5px; }
.movie p span{ font-size: 1.3em; color: yellow;}
.more_movies{
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 1.3em;
	display: block;}
.more_movies:hover{ text-decoration: underline; }

/*============================== Footer =======================================*/

footer p{ text-align: center; margin:200px 0 50px;}

/*============================== Login / Register =======================================*/

.login label, .register label{
	display: block;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 10px;}

.login input, .register input{
	display: block;
	font-size: 1.3em;
	text-align: center;
	width: 50%;
	border: none;
	height: 40px;
	margin: 0 auto 30px;}

.login input[type=submit], .register input[type=submit]{ 
	width: 20%;
	font-size: 1.2em;
	cursor: pointer;
	height: 40px;}

.login input[type=submit]:hover, .register input[type=submit]:hover{
	background-color: red; 
	color: white;}

.login a{ color: yellow; text-align: center; display: block; margin-bottom: 50px; margin-top: -20px; }
/*
.login label.remember{ display: inline;}
.login input[type=checkbox]{ display: inline; }*/

/*===================================== Details.php =======================================*/

.details{
	height: 400px;
	display: flex;
	justify-content: space-between;
}
.details ul{ flex-basis: 70%; }
.details .img_container img{ width: 100%;;}
.details .img_container{ flex-basis: 25%; }

.details h2{ font-size: 2.2em; text-align: center; margin-bottom: 10px; }
.details .released{ text-align: center; color: yellow; margin-bottom: 5px;}
.details .plot{ font-size: 1.4em; margin-bottom: 20px; text-align: justify; }
.details .genre{ text-align: center; margin-bottom: 30px; color: red;}
.details .movie_details{ color: yellow; margin-bottom: 5px;}
.details span{ color: white;}

.retour{ text-align: center; color: white; display: block; font-size: 1.3em; text-decoration: none;}
.retour:hover{ text-decoration: underline; }
.mustsee{ 
	color: white;
	text-decoration: none;
	width: 100%;
	text-align: center;
	display: block;
	margin: 10px 0 5px;}
	
i{ font-size: 2em; color: white; width: 100%; text-align: center; }

.addtolist input[type=submit], .removefromlist input[type=submit]{
	display: block;
	margin: 0 auto;
	width: auto;
	height: 30px;
	font-size: 1em;
	background-color: inherit;
	color: yellow;
	cursor: pointer;
	text-transform: uppercase;}

.addtolist input[type=submit]:hover, .removefromlist input[type=submit]:hover{
	text-decoration: underline;}

/*===================================== Reset Password =======================================*/

h1.reset { font-size: 1.8em; text-align: center; margin-bottom: 30px; }
form.reset label{ display: block; text-align: center; font-size: 1.2em; margin-bottom: 10px; color: yellow;}

form.reset input{
	background-color: white;
	color: black;
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 40px;
	text-align: center;
	font-size: 1.3em;}

form.reset input[type=submit]{ background-color: white; width: 20%; cursor: pointer; font-size: 1.3em;}
form.reset input[type=submit]:hover{ background-color: red; color: white; }